In [4]:
import numpy as np
import pandas as pd

In [11]:
"""
NaN: Missing Numerical Data
"""
arr1 = np.array([1, np.nan, 3, 4])
arr1.dtype

dtype('float64')

In [13]:
# Arithmetic with NaN will be another NaN
arr1.sum()

nan

In [15]:
# Special NumPy aggregation funcs
np.nansum(arr1)

8.0

In [19]:
# Pnadas automatically converts the None to a Nan value.
ser = pd.Series([1, np.nan, 2, None])
ser

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [24]:
"""
Detecting null values
"""

print(ser, '\n')
print(ser.isnull())
print(ser.notnull())
# isnull()

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

0    False
1     True
2    False
3     True
dtype: bool
0     True
1    False
2     True
3    False
dtype: bool

In [26]:
"""
Dropping null values
"""

# dropna()
ser.dropna(how="all")

0    1.0
2    2.0
dtype: float64

In [28]:
"""
Filling Null Values
"""

'\nFilling Null Values\n'

In [32]:
# Fill null values with a certain value

ser = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
ser.fillna(-1)

a    1.0
b   -1.0
c    2.0
d   -1.0
e    3.0
dtype: float64

In [34]:
# Forward-fill = LOCF

ser.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [35]:
# Backward-fill = NOCB

ser.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64